{% extends "base.html" %}

{% block body %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="item active">
          <div class="container">
            <div class="carousel-caption">
            <h1>Flask and MongoDB powered CMS</h1>
              <p>
              <img class="img-responsive" style="margin:auto;" src="https://raw.github.com/pythonhub/quokka/master/docs/logo.png" alt="..."></p>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Quokka CMS</h1>
              <p>Quokka is a flexible content management platform powered by Python, Flask and MongoDB.
Quokka provides a "full-stack" Flask application plus a bunch of selected extensions to provide all the needed CMS admin features and a flexible-easy way to extend the platform with quokka-modules built following the Flask Blueprints pattern.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Current features</h1>
              <p>Customizable admin interface,
    Export data to json or csv,
    multi-level unlimited nested channels (MPTT),
    Beauty urls and SMART-SLUG,
    Themes,
    Extensible
</p>
            </div>
          </div>
        </div>

      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <!-- Marketing messaging
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
          <a class="img1" href="{{ url_for('.product', iden=product.iden) }}">
            <img class="img-rounded" src="/admin/photoview/api/file/?coll=images&id={{ product.photo[0].photo.photo.grid_id }}" style="width: 250px; height: 250px;">
          </a>
          <p/>
          <h4>{{ product.name[0].name }}</h4>
        </div><!-- /.col-lg-4 -->
        {% endfor %}
      </div><!-- /.row -->

    </div><!-- /.container marketing -->  
{% endblock %}
