{% extends "base.html" %}

{% block body %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="/admin/photoview/api/file/?coll=images&id={{ banners[0].photo.grid_id }}">
        </div>

        <div class="item">
            <img class="img-responsive" src="/admin/photoview/api/file/?coll=images&id={{ banners[1].photo.grid_id }}">
        </div>

        <div class="item">
            <img class="img-responsive" src="/admin/photoview/api/file/?coll=images&id={{ banners[2].photo.grid_id }}">
        </div>

      </div>

    </div><!-- /.carousel -->

    <!-- Marketing messaging
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
          <a class="img1" href="{{ url_for('.product', iden=product.iden) }}">
            <img class="img-rounded" src="/admin/photoview/api/file/?coll=images&id={{ product.photo[0].photo.photo.grid_id }}" style="width: 250px; height: 250px;">
          </a>
          <p/>
          <h4>{{ product.name[0].name }}</h4>
        </div><!-- /.col-lg-4 -->
        {% endfor %}
      </div><!-- /.row -->

    </div><!-- /.container marketing -->  
{% endblock %}
