{% extends "base.html" %}

{% block title %}Starter Template{% endblock %}

{% block body %}

      <!-- START THE FEATURETTES -->

      <h2>{{ product.name[0].name }}</h2>

      <hr class="featurette-divider">

      {% for p in product.photo %}

      <div class="product row featurette">
        {% if not loop.first and loop.last %}
        <div class="col-md-12">
          <img class="featurette-image img-responsive" src="/admin/photoview/api/file/?coll=images&id={{ p.photo.photo.grid_id }}">
        </div>
        {% elif loop.index % 2 == 0 %}
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ p.title }}</h2>
          <pre class="lead">{{ p.note }}</pre>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/admin/photoview/api/file/?coll=images&id={{ p.photo.photo.grid_id }}">
        </div>
        {% else %}
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/admin/photoview/api/file/?coll=images&id={{ p.photo.photo.grid_id }}">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ p.title }}</h2>
          <pre class="lead">{{ p.note }}</pre>
        </div>
        {% endif %}
      </div>

      <hr class="featurette-divider">

      {% endfor %}

      <!-- /END THE FEATURETTES -->

{% endblock %}
