{% extends "base.html" %}

{% block title %}Starter Template{% endblock %}

{% block body %}

  <div class="container products">

    <h2>Products</h2>

    <hr class="products-divider">

    <!-- Three columns of text below the carousel -->
    {% for product in products %}

      {% if loop.index0 % 3 == 0 %}
      <div class="row">
      {% endif %}

        <div class="col-lg-4">
          <a class="img1" href="{{ url_for('.product', iden=product.iden) }}">
            <img class="img-rounded" src="/admin/photoview/api/file/?coll=images&id={{ product.photo[0].photo.photo.grid_id }}" style="width: 140px; height: 140px;">
          </a>
          <h2>{{ product.photo[0].title }}</h2>
          <p>{{ product.photo[0].note }}</p>
        </div><!-- /.col-lg-4 -->

      {% if loop.index % 3 == 0 %}
      </div><!-- /.row -->

      <hr class="products-divider">
      {% endif %}

    {% endfor %}

  </div><!-- /.container products -->  

{% endblock %}
