/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 5px;
  color: #5a5a5a;
  font-family:Verdana;
}




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar {
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
}

.collapse a {
  font-size: 20px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 420px;
  margin-bottom: 20px;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 420px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 420px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 10px;
  padding-right: 10px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 10px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* PRODUCTS CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.products {
  padding-left: 10px;
  padding-right: 10px;
}

/* Center align the text within the three columns below the carousel */
.products .col-lg-4 {
  text-align: center;
  margin-bottom: 10px;
}
.products h2 {
  font-weight: normal;
}
.products .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* PRODUCT CONTENT
-------------------------------------------------- */

.product .col-md-7 pre {
  background-color: #ffffff;
  border: 0px;
}
.product .col-md-7 h2 {
  color: red;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 750px;
  }
  .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar {
    border-radius: 4px;
  }

  .navbar {
    height: 60px;
  }

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .products {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .navbar-container {
    padding-left: 0;
    padding-right: 0;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
    width: 1000px;
  }
}

